软件工程/standards/ECMA-388-OpenXML/OpenXPS-RELAX-NG-Schemas/OpenXPSDiscardControl.rnc

default namespace =
  "http://schemas.openxps.org/oxps/v1.0/discard-control"
namespace dc = "http://schemas.openxps.org/oxps/v1.0/discard-control"
namespace xs = "http://www.w3.org/2001/XMLSchema"

dc_CT_DiscardControl = dc_Discard*
dc_CT_Discard =
  attribute SentinelPage { xsd:anyURI },
  attribute Target { xsd:anyURI }
dc_DiscardControl = element DiscardControl { dc_CT_DiscardControl }
dc_Discard = element Discard { dc_CT_Discard }
